.tab-content input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    padding: .3em;
    outline: none;
    caret-color: darkgray;
    color: darkgray;
}