.tab-content input[type=text], .tab-content input[type=number] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    padding: .3em;
    outline: none;
    caret-color: darkgray;
    color: white;
    width: 25em;
}

.tab-content textarea {
    vertical-align: top;
    width: 50em;
}

label {
    display: inline-block;
    width: 10em;
    font-size: large;
}

textarea.document {
    width: 80vw;
}


hr { /* Since we are using flex, we enforce the line-break */
    width: 100%;
}

button.small {
    padding: .5em;
}