.tab-menu {
    display: flex;
    background-color: darkgray;
    margin-left: 1em;
    margin-right: 1em;
}

.tab-content {
    min-height: 20em;
    background-color: rgb(80, 80, 80);
    margin-left: 1em;
    margin-right: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1em;
    color: #eee
}

.tab-elem {
    padding: 1em;
    background-color: darkgray;
    border: none;
}

.tab-elem:hover {
    background-color: rgb(140, 140, 140);
}

.tab-elem.tab-current {
    background-color: rgb(120, 120, 120);
}

.separator {
    border-left: 1px solid black;
}